<div class="container">
  <h4 class="text-center"><strong>本当に退会しますか?</strong></h4>
  <P class="text-center">
    退会すると当サイトの閲覧ができなくなります。</br>退会する場合は、「退会する」をクリックしてください。
  </P>
  <p class="text-center">
    <%= link_to "退会しない", customers_mypage_path, class: "btn btn-primary motion" %>
    <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "btn btn-danger motion" %>
  </p>
</div>