<div class="about">
  <h2 class="d-flex align-items-center justify-content-center text-center text-white" style="height: 90vh;">
    G-deviceとは<br>
    ゲーミングデバイスの最新情報、レビューを共有することで<br>
    自分に合ったアイテムを見つけることができるサイトです。
  </h2>
</div>
