<div class="container">
  <div class="row">
    <div class="col m-3">
      <h3>お問い合わせ一覧</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">件名</th>
          <th scope="col">ユーザー名</th>
          <th scope="col">送信日時</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= link_to contact.title, admin_contact_path(contact), class: "text-info" %></td>
            <td><%= contact.name %></td>
            <td><%= contact.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-around">
  <%= paginate @contacts %>
</div>
