<div class="container">
  <div class="row">
    <div class="col m-3">
    　<h3>カテゴリー編集</h3>
    </div>
  </div>
  <div class="row">
    <div style="margin-left:100px">
      <%= form_with model: @category, url: admin_category_path, local:true do |f| %>
        <div>カテゴリー名</div>
        <div><%= f.text_field :name %></div>
        <%= f.submit "変更を保存", class: "btn btn-success motion mt-3" %>
      <% end %>
    </div>
  </div>
</div>
