/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

/* ヘッダー色 */
header {
  background-color: #000;
}

/* ボディー背景画像、文字色 */
body {
  background-image: image-url("bg_black.jpg");
  background-size: cover;
  color: #fff;
}

/* フッター色 */
footer {
  background-color: #000;
}

/* 表示画像の角を丸くする */
img {
  border-radius: 10px;
}

/* ハンバーガーメニューの色 */
.navbar-toggler {
  background-color: #fff;
}

/* スライドショー設定 */
.box{
  height: 90vh;
}

.top1{
  background-image: image-url("top1.jpg");
  font-family: sans-serif;
}

.top2{
  background-image: image-url("top2.jpg");
  font-family: sans-serif;
}

.top3{
  background-image: image-url("top3.jpg");
  font-family: sans-serif;
}

.top4{
  background-image: image-url("top4.jpg");
  font-family: sans-serif;
}

.top5{
  background-image: image-url("top5.jpg");
  font-family: sans-serif;
}

.recommend1{
  background-image: image-url("recommend1.jpg");
  font-family: sans-serif;
}

.recommend2{
  background-image: image-url("recommend2.jpg");
  font-family: sans-serif;
}

.recommend3{
  background-image: image-url("recommend3.jpg");
  font-family: sans-serif;
}

.recommend4{
  background-image: image-url("recommend4.jpg");
  font-family: sans-serif;
}

.recommend5{
  background-image: image-url("recommend5.jpg");
  font-family: sans-serif;
}

/* アバウト設定 */
.about{
  width: 100%;
  height: 90vh;
  background-image: image-url("about.jpg");
  background-size: cover;
  background-position: center;
  font-family: monospace;
}

/* デバイスの表示設定 */
.card {
  transition:transform 0.3s;
}

.card:hover {
  transform:scale(1.1);
}

/* tableの文字色 */
.table {
  color: #ffffff;
}

/* ページネーションリンク色 */
.pagination>li>a {
  color: #17a2b8;
}
